apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
  - deployment.yaml
  - service.yaml
  - configmap.yaml

commonLabels:
  app: sample-app
  managed-by: kustomize
  part-of: gitops-lab

commonAnnotations:
  description: "Sample application managed by Kustomize"

